<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Memoriam</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>

	<div th:insert="~{templates/template :: header}"></div>

	<div class="container">
		<div class="jumbotron">
			<h2>
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>
			<h3>Dados da Operadora</h3>

			<form th:action="@{/operadoras}" method="POST"
				class="form-horizontal" th:object="${operadora}">
				<input id="id" th:value="*{id}" name="id" type="hidden"/>
				<input id="nome" th:value="*{nome}" name="nome" type="text"
					class="form-control" placeholder="Nome da operadora" /> 
				<input id="fone" th:value="*{prefixo}" name="prefixo"
					class="form-control" type="text" placeholder="Prefixo DDD" /> 
				<input type="submit" class="form-control btn btn-primary" value="Salvar" />
			</form>
		</div>

	</div>
</body>
</html>