<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Memoriam</title>
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{css/login.css}" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

	<script>
		function showDeleteIcon(box) {
			var chboxs = document.getElementsByName("delids");
			var vis = "none";
			for (var i = 0; i < chboxs.length; i++) {
				if (chboxs[i].checked) {
					vis = "block";
					break;
				}
			}
			document.getElementById(box).style.display = vis;
		}
	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script
		src="${pageContext.request.contextPath}/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="~{templates/template :: header}"></div>
	
	<div class="container">
		<div class="jumbotron">
			<h2 style="text-align: center">
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>


			<form th:action="@{/operadoras/delete}" method="POST">

				<table class="table">
					<tr align="left">
						<th></th>
						<th style="width: 30%">Nome</th>
						<th>Prefixo</th>
					</tr>
						<tr align="left" th:each="operadora : ${operadoras}">
							<td><input type="checkbox" name="delids" th:value="${operadora.id}" onclick="showDeleteIcon('div1')" /></td>
							<td><a th:href="@{/operadoras/{operadoraId}(operadoraId=${operadora.id})}"
									th:text="${operadora.nome}"></a></td>
							<td th:text="${operadora.prefixo}"></td>
						</tr>
				</table>
				<div id="div1" style="display: none">
					<input type="submit" value="Excluir"
						class="form-control btn btn-danger"
						onclick="return confirm('Quer remover mesmo as operadoras?');" />
				</div>
			</form>
			<a th:href="@{/operadoras/form}" class="form-control btn btn-primary">Nova</a>
		</div>
	</div>
</body>
</html>