<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Memoriam Templates Thymeleaf</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
					<div id="navbar">
						<div th:if="${session.usuario.perfil eq T(br.edu.ifpb.memoriam.entity.Perfil).ADMIN}">
							<ul class="nav navbar-nav">
								<li><a href="#" th:href="@{/contatos}">Contatos</a></li>
								<li><a href="#" th:href="@{/operadoras}">Operadoras</a></li>
							</ul>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"><span
									th:text="${session.usuario.nome}"></span><span
									th:text="' ('+${session.usuario.perfil.nome}+')'"></span><span
									class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" id="link-submit"><i
											class="glyphicon glyphicon-log-out"></i> Sair</a></li>
								</ul></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</nav>

			<form id="logout-form" th:action="@{/login/logout}" method="POST">
			</form>

			<script type="text/javascript">
				var form = document.getElementById("logout-form");
				document.getElementById("link-submit").addEventListener(
						"click", function() {
							form.submit();
						});
			</script>
	</div>
</body>
</html>