<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Memoriam</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>

	<div class="container">
	
		<div th:if="${mensagem ne null}" style="color:red; text-align:center"><p th:text="${mensagem}"></p></div>
	
		<form class="form-signin" action="#" th:action="@{/login}" method="POST" th:object="${usuario}">
			<h2 class="form-signin-heading">
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>
			
			<label for="inputEmail" class="sr-only">Usuário</label> 
			<input type="email" name="email" th:value="*{email}" class="form-control" th:object="${usuario}"
				placeholder="Email" required autofocus />
			<label for="inputPassword" class="sr-only">Senha</label> 
			<input type="password" th:value="*{senha}"
				name="senha" class="form-control" placeholder="Senha" required />
			<div class="checkbox">
				<label> <input type="checkbox" th:value="sim" id="lembrar" name="lembrar"> Lembrar-me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</form>

	</div>
	<!-- /container -->

</body>
</html>