<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Memoriam</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
	
	<div th:insert="~{templates/template :: header}"></div>
	
	<div class="container">
		<div class="jumbotron">
			<h2 style="text-align:center">
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>
			<h3>Dados do Contato</h3>

			<form action="#" th:action="@{/contatos}" method="POST" class="form-horizontal" th:object="${contato}">
				<input id="id" th:value="*{id}" name="id" type="hidden"/>
 				
				<input id="nome" th:value="*{nome}" name="nome" type="text"	class="form-control" placeholder="Nome" />
					 
				<input id="fone" th:value="*{fone}" name="fone" class="form-control" type="text" placeholder="Fone" />
				
				<input id="dataaniv" th:value="*{#dates.format(dataAniversario,'dd/MM/yyyy')}" name="dataAniversario" type="text" class="form-control" placeholder="Data de criação (dd/mm/aaaa)" />
					
				<select class="form-control" id="operadoraId" name="operadoraId">
					<option th:value="${null}" label="Selecione a operadora">Selecione a operadora</option>
					<option th:each="i : ${operadoraOptions}" th:text="${i.value}" th:value="${i.key}" th:selected="${i.key} == *{operadora?.id}"></option>
				</select> <input type="submit" class="form-control btn btn-primary"
					value="Salvar">
			</form>
		</div>
	</div>
</body>
</html>