<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Memoriam</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/login.css}" rel="stylesheet" />

<script>
	function showDeleteIcon(box) {
		var chboxs = document.getElementsByName("delids");
		var vis = "none";
		for (var i = 0; i < chboxs.length; i++) {
			if (chboxs[i].checked) {
				vis = "block";
				break;
			}
		}
		document.getElementById(box).style.display = vis;
	}
</script>
</head>
<body>
	<div th:replace="~{templates/template :: header}"></div>

	<div class="container">
		<div class="jumbotron">
			<h2 style="text-align: center">
				Memori<i class="glyphicon glyphicon-phone"></i>m
			</h2>
			<form
				th:action="@{/contatos/delete}"
				method="POST">
				<table class="table">
					<tr align="left">
						<th></th>
						<th style="width: 30%">Nome</th>
						<th>Telefone</th>
						<th>Operadora</th>
					</tr>
					<tr align="left" th:each="contato : ${contatos}">

						<td><input type="checkbox" name="delids"
							th:value="${contato.id}" onclick="showDeleteIcon('div1')" /></td>
						<td><a
							th:href="@{/contatos/{contatoId}(contatoId=${contato.id})}"
							th:text="${contato.nome}"></a></td>
						<td th:text="${contato.fone}"></td>
						<td th:text="${contato.operadora.nome}"></td>
						</form>
					</tr>
				</table>
			</form>
			<div id="div1" style="display: none">
				<input type="submit" value="Excluir"
					class="form-control btn btn-danger"
					onclick="return confirm('Quer remover mesmo os contatos?');" />
			</div>
			<a href="#" th:href="@{/contatos/form}"
				class="form-control btn btn-primary">Novo</a>
		</div>
		
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>